.details_area
    .row
        .col-md-5
        
        .col-md-7
            .my_btns.d-flex.justify-content-center
                button.hire_btn 
                    span.effect hire
                button.download_btn
                    span.effect get cv