.img_area
    .row
        .col
            // start img_area_content
            .img_area_content.d-flex.align-items-center.flex-column.flex-md-row

                // start img
                .img
                    .my_img
                        img.img-fluid(src="imgs/my_img.png", alt="my img")
                // end img

                // start my_name
                .my_name
                    h5.my_name_text my name is <span class="center_line"></span>
                    h1.name.head_font mahmoud hussien
                        
                // end my_name

            // end img_area_content

                
