// distance
$small_distance: 10px;
$medium_distance: 20px;
$large_distance: 40px;

$padding_sec: 65px;

// header and content width
$header_width: 270px;

// fonts
$global_font: 'Roboto', sans-serif;
$head_font: 'Sriracha', cursive;
$small_font: 15px;
$medium_font: 17px;
$large_font: 20px;
